{% include head %}

<body>

  {% include header %}

  <div class="intro"></div>

  <div class="content">
    <div class="wrap">
      {{ content }}
      <a href="#" class="btn">Lees verder</a>
    </div>
  </div>

  <div class="content">
    <div class="cat">
      <h1>Gezondheidszorg</h1>
      <div class="img"></div>

      <div class="items">
        <div class="item">
          <div class="img">
          </div>
          <div class="title">
            <h2>Vestibulum porttitor</h2>
          </div>
          <div class="excerpt">
            <p>Vestibulum porttitor feugiat sem non mattis. Sed ac porttitor lectus. Curabitur lacinia erat ut sollicitudin ultricies. Vivamus at augue sit amet eros varius pretium at vel felis. Ut porta viverra nunc ut pellentesque.</p>
            <a href="#" class="btn">Lees verder</a>
          </div>
        </div>
        <div class="item">
          <div class="img">
          </div>
          <div class="title">
            <h2>Vestibulum porttitor</h2>
          </div>
          <div class="excerpt">
            <p>Vestibulum porttitor feugiat sem non mattis. Sed ac porttitor lectus. Curabitur lacinia erat ut sollicitudin ultricies. Vivamus at augue sit amet eros varius pretium at vel felis. Ut porta viverra nunc ut pellentesque.</p>
            <a href="#" class="btn">Lees verder</a>
          </div>
        </div>
      </div>
    </div>


    <div class="cat">
      <h1>Educatie</h1>
      <div class="img"></div>

      <div class="items">
        <div class="item">
          <div class="img">
          </div>
          <div class="title">
            <h2>Vestibulum porttitor</h2>
          </div>
          <div class="excerpt">
            <p>Vestibulum porttitor feugiat sem non mattis. Sed ac porttitor lectus. Curabitur lacinia erat ut sollicitudin ultricies. Vivamus at augue sit amet eros varius pretium at vel felis. Ut porta viverra nunc ut pellentesque.</p>
            <a href="#" class="btn">Lees verder</a>
          </div>
        </div>
        <div class="item">
          <div class="img">
          </div>
          <div class="title">
            <h2>Vestibulum porttitor</h2>
          </div>
          <div class="excerpt">
            <p>Vestibulum porttitor feugiat sem non mattis. Sed ac porttitor lectus. Curabitur lacinia erat ut sollicitudin ultricies. Vivamus at augue sit amet eros varius pretium at vel felis. Ut porta viverra nunc ut pellentesque.</p>
            <a href="#" class="btn">Lees verder</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  {% include footer %}

</body>

</html>
